.p1 {
    width: 200px;
}

.p2 {
    width: 50%;
    display: block;
    margin: auto;
}

.flexbox {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding-left: 10px;
    padding-right: 10px;
}

.item {
    display: block;
    box-sizing: border-box;
    width: 20%;
    margin-bottom: 20px;
}

.content {
    text-align: center;
}